* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--blue: #2f31ef;
	--light-blue: #b4e7f9;
	--coral: #fe5f55;
	--orange: #ee522e;
	--soft-orange: #fbf7f0;
	--grey: #f6f6f8;
	--gradient: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

	--green: #00e676;
	--red: #ff5252;
}

html,
body {
	background-color: #e6eef4;
	height: 100%;
}

.main-container {
	margin: 2em 8em;
	height: 100%;
}

.title-container h1 {
	font-family: Roboto;
	color: #2c2d41;
}

.title-container h3 {
	font-family: Roboto;
	color: #4f5567;
	margin-bottom: 1.5em;
	font-size: 0.9rem;
}

.balance-transfer-container {
	width: 100%;
	display: flex;
}

.balance {
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	padding: 2em 2em;
	color: white;
	width: 100%;
	margin-right: 2em;
}

.balance h2 {
	font-family: Roboto;
	color: #e7ecfa;
}

.balance h1 {
	font-family: Cabin;
	margin-top: 0.3em;
	font-size: 3rem;
}

.balance h1 span {
	color: #e7ecfa;
}

.balance .buttons {
	margin-top: 30px;
	display: flex;
}

.balance a {
	all: unset;
	font-family: Roboto;
	border-radius: 20px;
	padding: 0.6em 1em;
	text-align: center;
	background-color: white;
	user-select: none;
	color: black;
	cursor: pointer;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.balance input {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 16px;
	font-family: sans-serif;
	background-color: white;
	color: black;

}

.balances input {
	/* all: unset;*/
	font-family: Roboto;
	border-radius: 5px;
	padding: 0.6em 1em;
	text-align: center;
	/*  background-color: white;*/
	user-select: none;
	color: black;
	cursor: pointer;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.balance input[type="submit"] {
	/*  display: none;*/
}

.balance input::placeholder {
	color: black;
}

.balance input:focus::placeholder {
	color: grey;
}

.balance div form {
	margin-right: 10px;
}

.transfer {
	min-width: 300px;
	/* background-color: #f3f8ff; */
	background-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	padding: 2em 2em 0 2em;
	color: black;
}

.transfer form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.transfer h2 {
	font-family: Roboto;
	margin-bottom: 1em;
	color: #2c2d41;
}

.transfer label {
	font-family: Roboto;
}

.transfer div input {
	/* z-index: -1; */
	all: unset;
	width: 85%;
	height: 30px;
	padding: 5px 10px;
	background-color: white;
	border: 2px solid #2c2d41;
	border-radius: 10px;
}

.transfer div input:nth-child(1) {
	margin-bottom: 15px;
}

.transfer input[type="submit"] {
	all: unset;
	width: 100px;
	font-family: Roboto;
	border-radius: 20px;
	text-align: center;
	background-color: var(--blue);
	user-select: none;
	color: white;
	cursor: pointer;
	padding: 0.6em 1em;
	box-shadow: 0 10px 6px -6px #c0c0c0;
}

.main-container .statement {
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
	padding: 2em 2em 2em 2em;
	width: 100%;
	min-height: 200px;
	height: fit-content;
	color: black;
	overflow: auto;
}

.statement h2 {
	font-family: Roboto;
	margin-bottom: 1em;
	color: #2c2d41;
}

.content-table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	font-family: Roboto;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
}

.content-table thead {
	background-color: var(--coral);
	/*background: linear-gradient(to right, #ff416c, #ff4b2b);*/
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}


.content-table thead tr {
	color: #2c2d41;
	font-weight: bold;
	font-family: Cabin, sans-serif;
	color: white;
	padding-bottom: 50px;
	font-size: 20px;
}

.content-table tbody tr {
	border-bottom: 1px solid var(--grey);
}

.content-table tbody tr:nth-child(2n) {
	background-color: #f3f3f3;
}


.content-table tbody tr:last-child() {
	border-bottom: 2px solid var(--grey);
	margin-bottom: 25px;
}

@media screen and (max-width: 1030px) {
	.main-container {
		/* margin: 2em 8em; */
		margin: 5%;
		height: 100%;
	}

	.balance-transfer-container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.balance {
		margin-bottom: 2em;
	}


	.transfer {
		height: fit-content;
		padding-bottom: 2em;
	}
}

@media screen and (max-width: 420px) {
	.balance .buttons {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}

	.balance div form {
		all: unset;
	}

	.balance a {
		width: 100%;
		padding: 0.6em 0;
		margin-top: 1em;
	}

	.balance input {
		width: 100%;
		padding: 0.6em 0;
	}
}